* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  max-width: 7%;
  position: absolute;
  left: 3%;    
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 10vh;  
}

body {
  background: url("../img/sky-828648_1920.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0%;

}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;    
  }
}

.nav-list.active {
  transform: translateX(0);
  z-index: 10;
    position: absolute;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*Slide Show*/

/*.container-fluid{
  padding: 0;
}

/*#mainslider .carousel-inner, #mainslider .carousel-item{
  height: 10vh;  
}
*/

.img-banner{
  align-items: center;
  max-width: 150vh;
  height: 70vh;
  opacity: 0.5;
  position: relative; 
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.img-banner:hover{
  max-width: 150vh;
  height: 70vh;
  opacity: 1;
  position: relative; 
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}